*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
.frame{
    height: 500px;
    width: 300px;
    border-radius: 30px;
    margin-top: 30px;
    margin-left: 500px;
    margin-right: 500px;
    font-family: Calibri;
    /*background: linear-gradient(to bottom, #ffaf7b,#d76d77, #3a1c71 );*/
}
.nav{
    /*margin-top: 25px;*/
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    /*margin-left: 10px;*/
    font-size: 14px;
    background: #ffab80;
    height: 60px;
    width: 299px;
    border: solid 2px black;
    border-bottom: hidden;
}
.BMI{
    margin-left: 10px;
    color: white;
    padding-top: 20px;
}
.body2{
    width: 299px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    text-align: center;
    height: 550px;
    background: linear-gradient(to bottom, #ffaf7b,#d76d77, #3a1c71 );
    border: solid 2px black;
    border-top: hidden;
}
.weight{
    margin-bottom: 15px;
    width: 277px;
    height: 20px;
    margin-left: -1px;
    font-size: 14px;
    margin-top: 20px;
    /*font-weight: bold;*/
}.height{
    margin-bottom: 20px;
    width: 277px;
    height: 20px;
    margin-left: -1px;
    font-size: 14px;
    /*font-weight: bold;*/
}
 .calculate{
     border: none;
     background: none;
     color: rgb(253, 217, 10);
     font-weight: 800;
     margin-left: -22px;
 }

 .container{
    height: 500px;
    width: 300px;
    border-radius: 30px;
    margin-top: 30px;
    margin-left: 500px;
    margin-right: 500px;
    font-family: Calibri;
    /*background: linear-gradient(to bottom, #ffaf7b,#d76d77, #3a1c71 );*/
}
.navbar{
    /*margin-top: 25px;*/
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    /*margin-left: 10px;*/
    font-size: 14px;
    background: #ffaf7b;
    height: 60px;
    width: 299px;
    border: solid 2px black;
    border-bottom: hidden;
}
.BMI{
    margin-left: 10px;
    color: white;
    padding-top: 20px;
}
.result-page{
    width: 299px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    text-align: center;
    height: 550px;
    background: white;
    border: solid 2px black;
    border-top: hidden;
}
#bmi-result{
    padding-top: 200px;
}



/* Style for the input fields */
.weight {
    border: none;
    border-bottom: 1px solid black;
    outline: none; 
    transition: border-bottom-color 0.3ms;
    background: #fca972;
    color: black;
}
/* Style for the input fields when focused */
.weight:focus {
    border-bottom-color: yellow; /* Change the bottom border color on focus */
    border-bottom-width: 3px;
}
.height {
    border: none;
    border-bottom: 1px solid black; 
    outline: none; 
    transition: border-bottom-color 0.3ms;
    background: #f8a771;
    color: black;
}
.height:focus {
    border-bottom-color: yellow; /* Change the bottom border color on focus */
    border-bottom-width: 3px;
}